.ball {
    position: absolute;
    left: 80%;
    top: 20%;
    min-width: 5px;
    min-height: 5px;
    border-radius: 50%;
    background-color: #395d3b17;
    box-shadow: -2px -2px 10px 0px #6464646e, 2px 2px 10px #000;
    translate: -50% -50%;
    width: calc(var(--mouse-wheel-index, 100) * 1px);
    height: calc(var(--mouse-wheel-index, 100) * 1px);
    pointer-events: none;
}
