.wheel-error {
    color: red;
}

.mouse {
    --size: calc(min(100vw, 100vh) / 10);
    width: calc(var(--size) * 4);
    height: calc(var(--size) * 3);
    position: relative;
}

.mouse-image {
    width: calc(var(--size) * 4);
    height: calc(var(--size) * 3);
    position: absolute;
    left: calc((var(--mouse-x, 0) - 50vw) / 80);
    top: calc((var(--mouse-y, 0) - 50vh) / 80);
    --press-color: #1f5f46;
    --active-color: #595959;
    --active-color: #8f8a8a;
}

.mouse-svg {
    width: 100%;
    height: 100%;
}

.st-left-active .st-lmb {
    fill: url(#BUTTON_ACTIVE);
}
.st-middle-active .st-mmb {
    fill: var(--active-color);
}
.st-right-active .st-rmb {
    fill: url(#BUTTON_ACTIVE);
}
.st-forward-active .st-fmb {
    fill: var(--active-color);
}
.st-back-active .st-bmb {
    fill: var(--active-color);
}

.st-left .st-lmb {
    fill: url(#BUTTON_PRESS)
}
.st-middle .st-mmb {
    fill: #287456;
}
.st-right .st-rmb {
    fill: url(#BUTTON_PRESS)
}
.st-forward .st-fmb {
    fill: var(--press-color);
}
.st-back .st-bmb {
    fill: var(--press-color);
}

.st-wheel-up .st-wu {
    fill: var(--press-color);
}

.st-wheel-down .st-wd {
    fill: var(--press-color);
}

.mouse-button-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}

.mouse-button-left {
    left: calc(var(--size) * 1.6);
    top: calc(var(--size) * 0.42);
}
.mouse-button-middle {
    left: calc(var(--size) * 1.95);
    top: calc(var(--size) * 0.42);
}
.mouse-button-right {
    left: calc(var(--size) * 2.33);
    top: calc(var(--size) * 0.42);
}
.mouse-button-forward {
    left: calc(var(--size) * 1.2);
    top: calc(var(--size) * 1);
}
.mouse-button-back {
    left: calc(var(--size) * 1.2);
    top: calc(var(--size) * 1.4);
}
